*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart-container{
    width: 80%;
    margin: 80px auto;
}
.cart-part{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.cart-img{
    width: 20%;
}
.cart-img img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.cart-desc{
    font-size: 20px;
    width: 20%;
}
.cart-quanity{
    width: 20%;
    text-align: center;
}
.cart-quanity input{
    padding: 5px 10px;
    width: 120px;
    font-size: 15px;
}
.cart-price{
    text-align: center;
    width: 15%;
}
.cart-total{
    text-align: center;
    width: 15%;
}
.cart-remove{
    width: 10%;
}
.cart-remove button{
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.cart-summary{
    margin-right: 200px;
    margin-bottom: 50px;
}
.product-total{
    text-align: right;
    margin: 20px 0;
}
.product-checkout{
    text-align: right;
    margin: 20px 0;
}
.product-checkout a{
    display: inline-block;
    width: 130px;
    text-decoration: none;
    border-radius: 5px;
    background-color: green;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.removeAll{
    background-color: #e4003a;
    display: block;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: auto;
    cursor: pointer;
}
.cart-emty{
    width: 500px;
    margin: 100px auto 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}
.Homebtn{
    cursor: pointer;
    border: none;
    background-color: #000;
    padding: 10px  50px;
    margin: 20px;
}
header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.header-logo{
    display: flex;
    
}
.header-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-logo span{
    color: rgb(39, 39, 92);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
}

.header-navbar ul{
    list-style: none;
    display: flex;
}
.header-navbar ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 500
}
.header-navbar ul li a:hover{
    color: #ef5a6f;
    text-decoration: underline;

}
.header-info{
    display: flex;
}
.header-info > a{
    color: #000;
}
.header-info > a:hover{
    color: #ef5a6f;
}
.header-info i{
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    transition: all .3s;
}
.header-info i:hover{
    color: #ef5a6f;

}
.cart{
    position: relative;
}
.cart>p{
    position: absolute;
    right: 6px;
    top: 8px;
    width: 18px;
    height: 18px;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}
.header-account{
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.header-account i{
    margin: 0;

}
.header-account:hover{
    color: #ef5a6f;
}
#logoutLink {
    padding-top: 30px;
    cursor: pointer;
    font-weight: 500;
}